body {
    width: 20rem;
    background-color: #5a5ae5;
    color: #333;
    font-family: Georgia, sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
  }
  
  li {
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  li:nth-child(odd) {
    background: #e0e0e0;
  }
  li:nth-child(even) {
    background: #c0c0ff;
  }
  
  li:hover {
    background: #a0a0ff;
  }
   
  h3,
  p {
    margin: 0;
    padding: 0.5rem 0;
  }